@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.25%;
}

body {
    font-family: "Poppins", serif;
    background-image: url(image/Background.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

.white {
    color: white;
}

.menu-items li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}


li a:hover {
    color: lightblue;
}



.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    /* box-shadow: 0px 5px 10px 0px #fff; */
    background-color: #000;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 2;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.menu-items {
    position: relative;
    display: flex;
    order: 2;
}

.menu-items li {
    position: relative;
    list-style-type: none;
    font-size: 1.4rem;
    margin-inline: 1.6rem;
}


.buttons .btn {
    background-color: darkgoldenrod;
    padding: 0.8rem 1rem;
    padding-right: 5rem;
    font-size: 1.2rem;
    color: white;

}

.buttons .btn {
    margin-inline: 2rem;
}



.buttons .btn:hover {
    background-color: darkkhaki;
}




.logo {
    width: 10rem;
    border-radius: 3rem;
}

    /* ##########   drop down menu */

.dropdown-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 100%;
    /* Position it below the parent item */
    left: 0;
    background-color: #232323;
    color: #fff;
    padding: 2rem 0;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu li {
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    color: #ffcc00;
}

.dropdown:hover .dropdown-menu {
    display: block;
    /* Show the dropdown menu on hover */
}


/* #######  State Slider  ######## */

.content-wrapper {
    display: flex;

}

.content-wrapper {
    width: 100%;
    overflow-x: hidden;
    padding: 1rem 2rem;
}

.content-wrapper .category-list {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0.4rem 2rem;
    gap: 2rem;

}

.category-list button {
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    color: white;
    border: 1px solid #000;
    outline: none;
    background-color: black;
}

.category-list button:hover {
    background-color: darkgoldenrod;
    border: 2px solid black;
}



.category-list button img {
    width: 7rem;
}

#black {

    background-color: white;
    color: darkgoldenrod;
    font-weight: bold;
    padding: 0.4rem 2.5rem;
}

#black:hover {
    background-color: darkgoldenrod;
    color: white;
}

/* #############   search  box   ############# */


.search-box {
    display: flex;
    width: 80%;
    height: 15%;
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.search-box input {
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1.4rem 2rem;
    font-size: 1.4rem;
}

.search-box input::placeholder {
    color: darkgoldenrod;
}



.btn1 {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;

}


/* ###########   Sewwt Ssection   ############ */


.box {
    position: relative;
    width: 22%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 1rem;
    margin-bottom: 10rem;
    transition: all 0.8s;
}

.box:hover {
    transform: scale(1.1) translateZ(10px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    z-index: 5;
}


.main-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* object-fit: cover; */
}

.content .box-name {
    position: absolute;
    top: 2%;
    right: 15%;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-sizing: border-box;
    z-index: 2;
}



.content .price {
    display: block;
    position: absolute;
    bottom: 8%;
    left: 60%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0.4rem 1.4rem;
    border-radius: 1.5rem;
    background-color: #f4f4f4;
    font-weight: 600;
}

.section-img {
    margin-bottom: 10rem;
    margin-top: 4rem;
}


.section-img img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}


/* ##########   items  section   ######### */

.boxs {
    position: relative;
    width: 46%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    /* align-items: center;  Center text and image vertically */
    padding: 0.6rem;
    border: 2px solid darkgoldenrod;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 4rem;
    transition: all 1s;

}

.box:hover {
    transform: scale(1.1) translateZ(10px);
    z-index: 5;
}

.boxs:hover {
    transform: scale(1.1) translateZ(10px);
    box-shadow: 0 0 15px rgba(223, 212, 83, 0.6);

    z-index: 6;
}

.items-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxs img {
    width: 40%;
    height: 100%;
    border-radius: 1rem;
}

.boxs .text {
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding-left: 1rem;

}

.boxs .text h1 {
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
}


/* ############   Cake Section  ############# */


.boxes {
    width: 22%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 4rem;
}

.boxes:hover {
    transform: scale(1.1) translateZ(10px);
    border: 3px solid darkgoldenrod;
    box-shadow: 0 0 15px rgba(241, 230, 111, 0.6);
    z-index: 8;

}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxes img {
    width: 100%;
    height: 60%;
    border-radius: 1rem;
}

.contents {
    display: block;
    margin-bottom: 4rem;
    text-align: center;
    color: darkgoldenrod;
}

.contents h3 {
    font-size: 2.2rem;
    line-height: 5rem;
    font-weight: 600;
}

.contents p {
    font-size: 1.4rem;

}

.button1 {
    display: block;
    margin: auto;
    border: none;
    outline: none;
    padding: 0.2rem 1.6rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    background-color: rgb(231, 188, 79);
    margin-bottom: 1rem;

}

.button2 {
    display: block;
    margin: auto;
    border: none;
    outline: none;
    padding: 0.2rem 3.2rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    background-color: rgb(231, 188, 79);


}

/* Footer Styling */

.footer {
    margin-top: 6rem;
    background-color: #282828;
    color: #f1f1f1;
    padding: 40px 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-about {
    flex: 1;
    max-width: 400px;
}

.footer-about h3 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #f1c40f;
}

.footer-about p {
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
}

.footer-links {
    flex: 1;
    max-width: 300px;
}

.footer-links h4 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #f1c40f;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f1c40f;
}

.footer-contact {
    flex: 1;
    max-width: 300px;
}

.footer-contact h4 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #f1c40f;
}

.footer-contact p {
    font-size: 16px;
    margin: 5px 0;
}

.footer-contact a {
    color: #ddd;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #ddd;
}

.footer-bottom .footer-social {
    margin-top: 10px;
}

.footer-social a {
    color: #ddd;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #f1c40f;
}







/* #############   media query with navbar    ############## */


@media(max-width: 768px) {

  
    .navbar {
        opacity: 1;
    }

    .navbar-container input[type='checkbox'],
    .navbar .hamburger-lines {
        display: block;
        justify-content: right;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
        background-color: darkgoldenrodx;
    }

    .navbar-container input[type='checkbox'] {
        position: absolute;
        display: block;
        height: 25px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 18px;
        width: 22px;
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointerx;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
    }


    .navbar .menu-items {
        padding-top: 100px;
        background-color: #000;
        color: white;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        padding-left: 55px;
        transition: transform 0.5s ease-in-out;
    }

    .menu-items li {
        margin-bottom: 3rem;
        font-size: 3rem;
        font-weight: 500;
        width: 250px;
    }

    /* Logo */

    .logo {
        position: absolute;
        width: 6rem;
        top: 5rem;
        right: 15rem;
    }

    /* Buttons  */

    .buttons .btn span{
        display: none;
    }

    
.buttons .btn {
    margin-top: 2rem;
    background-color: darkgoldenrod;
    padding: 0.2rem 0.6rem;
    padding-right: 2rem;
    color: white;

}

.buttons .btn1{
    margin-left: 12rem;
}

    /* Drop Down Menu  */

    .dropdown-menu {
        width: 14rem;
    }

    .dropdown-menu li {
        margin-bottom: 0.6rem;
        padding-left: 0.4rem;
    }

    .navbar-container input[type='checkbox']:checked~.menu-items {
        transform: translate(0);
    }

    

    /* Hamburger Menu Complete */

    .category-list button img {
        width: 3.5rem;
    }

    .category-list button {
        font-size: 1rem;
        padding: 0.8rem 1.2rem;
    }

    #black {
        padding: 0.2rem 1.4rem;
    }

    .search-box {
        width: 70%;
        height: 10%;
        margin-top: 4rem;
        margin-bottom: 10rem;
    }

    .box {
        width: 40%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8rem;
    }

    .box-name h2 {
        font-size: 1.4rem;
        margin-left: 1.2rem;
    }

    .content .price {
        font-size: 0.8rem;
    }

    .boxs {
        width: 84%;
        height: 140px;
        line-height: 1.4rem;

    }

    .boxs .text h1{
        font-size: 1.4rem;
        line-height: 2.2rem;

    }

    .boxs .text p{
        font-size: 1rem;
        line-height: 1.8rem;
    }


    .boxs:hover {
        transform: scale(1.1)translateZ(10px);
    }

    .section-img img {
        height: 120px;
    }

    /* boxes section  */

    .boxes {
        width: 42%;
        height: 330px;
    }

   
    .contents h3{
        font-size: 2rem;
    }


    .contents p{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .contents .button1{
        font-size: 1rem;
        font-weight: 600;
        margin-top: 0.6rem;
    }

    .contents .button2{
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0rem 2rem;
    }

    /* footer */

    @media (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
        }
    
        .footer-about, .footer-links, .footer-contact {
            text-align: center;
            margin-bottom: 30px;
        }
    
        .footer-social a {
            font-size: 16px;
            margin: 0 10px;
        }
    }







}